<% provide(:title, "Home") %>
<div class="center jumbotron">
	<div class="row">
		<div class="col-md-5">
			<%= image_tag("doctor.jpg", :alt => "doctor") %>
		</div>
		<div class="col-md-7">
			<h1>Bem vindo ao Dr. Derma!</h1>

			<p>
				Uma plataforma visando capacitar a interação entre profissionais médicos brasileiros,
				com enfoque na discussão de casos dermatológicos. Tenha acesso a uma rede de consultores
				médicos, especialistas registrados na Sociedade Brasileira de Dermatologia.
			</p>
			<div class="error_explanation" style="height:1.5em; text-align:left"; width:100%; clear:both;>
			<% flash.each do |message_type, message| %>
        		<%= message %>
      		<% end %>
      		</div>
			<%= form_for(:session, url: login_path) do |f| %>

			<%= f.email_field :email, class: 'form-control', :placeholder => "Email" %>
			<%= f.password_field :password, class: 'form-control', :placeholder => "Senha" %>

			<%= f.submit "Log in", class: "btn btn-primary" %>
			<% end %>
			<br>
			<p>
				Novo usuário? <%= link_to "Cadastre-se agora!", signup_path %>
			</p>

		</div>
	</div>
</div>