<% provide(:title, 'User Index') %>
<div class="users_menu">
 <%= link_to "Índice de Usuários", :action => "index"%>
 <hr>
</div>
<%= will_paginate %>

<table class="users_index">
	<tr>
      <td><h4>Nome</h4></td>
      <td><h4>Email</h4></td>
      <td><h4>CRM</h4></td>
      <td><h4>Dermato</h4></td>
      <td><h4>Ativo</h4></td>
    </tr>
  <% @users.each do |user| %>
  <% if user.active == false%>
    <tr class="inactive_user">
  <% else %>
  	<tr>
  <% end %>
  	  <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= user.crm %></td>
      <td><%= user.dermatologist %></td>
      <td><%= user.active %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>